<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Créditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Créditos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <img alt="Fernando Paniagua" src="https://media.licdn.com/dms/image/v2/C4D03AQFL9Bt-2dS5MQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1622653414961?e=2147483647&v=beta&t=rrd8Ltw0-Ih0UEA9ncItizH19CmrWFkbE1KStHAf06U" />
      <ion-card-header>
        <ion-card-title>Fernando Paniagua</ion-card-title>
        <ion-card-subtitle>Autor</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Mega-aplicación de cine.
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
